#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
 }
 
 #texture {
     width: 100vw;
     height: 100vh;  
     position: fixed;   
 }

 #heading6 {
    width: 13%;
    height: auto;
    position: fixed;
    left: 43%;
    margin-top: 9.7%;
 }

 #text6 {
    width: 25%;
    height: auto;
    position: fixed;
    left: 36.6%;
    margin-top: 16%; 
 }

 #piggy {
    width: 9%;
    position: fixed;
    left: 33%;
    margin-top: 29%;
}

yes4 {
    font-size: 1.2vw;
    font-family: 'Cooper Hewitt Bold';
    color: #e8dfd1;
    position: fixed;
    left: 36.5%;
    margin-top: 38%;
}

#bag {
    width: 14%;
    position: fixed;
    left: 52%;
    margin-top: 27.7%; 
}

no4 {
    font-size: 1.2vw;
    font-family: 'Cooper Hewitt Bold';
    color: #e8dfd1;
    position: fixed;
    left: 57%;
    margin-top: 38%;
}

@font-face {
    font-family: 'Cooper Hewitt Bold';
    src: url('Fonts/cooper-hewitt/CooperHewitt-Bold.otf');
}