#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
 }
 
 #texture{
     width: 100vw;
     height: 100vh; 
     position: fixed;
 }

#menu-icon-btn {
     position: fixed;
     width: 3.5%;
     left: 3%;
     margin-top: 3%; 
 }

 #menu-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    opacity: 0;
 }

 #cross {
     position: fixed;
     width: 3.5%;
     left: 3%;
     margin-top: 2.7%;
     opacity: 0;
    
 }

 h1 {
    position: fixed;
    font-family: 'Roboto Black';
    color: #e8dfd1;
    font-size: 2.3vw;
    opacity: 0;
    left: 45%;
    margin-top: 12%;
  
 } 

h2 {
    position: fixed;
    font-family: 'Roboto Black';
    color: #e8dfd1;
    font-size: 2.3vw;
    opacity: 0;
    left: 45%;
    margin-top: 18%;

}

h3 {
    position: fixed;
    font-family: 'Roboto Black';
    color: #e8dfd1;
    font-size: 2.3vw;
    opacity: 0;
    left: 44.5%;
    margin-top: 24%;
   
}

h4 {
    position: fixed;
    font-family: 'Roboto Black';
    color: #e8dfd1;
    font-size: 2.3vw;
    opacity: 0;
    left: 45.5%;
    margin-top: 30%;
  
} 

 @font-face {
    font-family: 'Roboto Black';
    src: url(Fonts/roboto/Roboto-Black.ttf);
 }

 @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation: fadeIn .3s linear forwards;
    animation: fadeIn .3s linear forwards;
  }

  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation: fadeOut .3s linear forwards;
    animation: fadeOut .3s linear forwards;
  }

 #flag-win {
     width: 11%;
     height: auto;
     position: fixed;
     left: 44%;
     margin-top: 3%;
 }

 #title {
     width: 25%;
     height: auto;
     position: fixed;
     margin-top: 15%;
     left: 35%;
 }

 #text {
     position: fixed;
     width: 22%;
     height: auto;
     margin-top: 22.5%;
     left: 37.3%;   
 }

 #button {
     position: fixed;
     display: block;
     width: 13.1%;
     height: auto;
     margin-top: 30%;
     left: 41%;
 }

 #share {
     font-size: 1.2vw;
     color: #e8dfd1;
     font-family: 'Cooper Hewitt Bold';
     letter-spacing: 0.05vw;
     position: fixed;
     margin-top: 38.5%;
     left: 45.5%;
 }

 @font-face {
    font-family: 'Cooper Hewitt Bold';
    src: url(Fonts/cooper-hewitt/CooperHewitt-Bold.otf);
}


 #fb-icon {
     position: fixed;
     width: 3.4%;
     height: auto;
     margin-top: 41.5%;
     left: 42.5%;
 }

 #twitter-icon {
     position: fixed;
     width: 3.4%;
     height: auto;
     margin-top: 41.5%;
     right: 48%;
 }

 #hoverme {
     position: fixed;
     width: 13.1%;
     left: 41%;
     margin-top: 30%;
     opacity: 0;
     transition: .5s ease;
 }

 #hoverme:hover {
     opacity: 1;
 }

 #hoverme2 {
     position: fixed;
     width: 3.5%;
     height: auto;
     margin-top: 41.4%;
     left: 42.4%;
     opacity: 0;
     transition: .5s ease;
 }

 #hoverme2:hover {
    opacity: 1;
}

#hoverme3 {
    position: fixed;
    width: 3.5%;
    height: auto;
    margin-top: 41.4%;
    left: 48.5%;
    opacity: 0;
    transition: .5s ease;
}

#hoverme3:hover {
    opacity: 1;
}

a {
    cursor: default;
}